#page-about {
  background: url(../images/background2.jpg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#page-about .container {
  height: 88%;
  width: 80%;
}

.about-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.slick-dots li button::before {
  color: white;
  font-size: 20px;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.slick-prev:before, .slick-next:before {
  font-size: 23px;
}

.my-name {
  color: black;
}

.para {
  line-height: 1.75;
}

.para-small {
  font-size: 18px;
  line-height: 1.55;
}

.smaller-line-height {
  line-height: 1.5;
}

.fa-graduation-cap {
  color: rgb(66, 72, 232);
}

.slider-content {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider-content div {
  flex: 1;
}

.card-content {
  height: 100%;
}

.slider-content p {
  font-size: 20px;
  flex: 2;
  text-align: center;
}

.headshot {
  width: 100%;
  border-radius: 50%;
}

.headshot-link {
  display: inline-block;
  width: 20em;
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #fff;
  line-height: 0;
  border-radius: 50%;
  transition: background-color 0.5s ease-out;
}

.headshot-link:hover {
  background-color: purple;
  transition: none;
}

.slider-for {
  position: relative;
  top: 55%;
  transform: translateY(-50%);
}

.slider:not(.slick-center) {
  opacity: 0.8;
  transform: scale(0.9);
}

.slick-center {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  color: purple;
  opacity: 1;
  transform: scale(1);
}

.small-about-container {
  width: 100%;
  height: 88%;
}

.slider-for div h4 {
  color: white;
}

.about-me-header {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
