#page-about .container {
  height: 88%;
}
.about-container {
  padding-top: 80px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about-container div {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
}

.about-container div p {
  flex: 1;
}

.headshot {
  width: 100%;
  border-radius: 100px;
}

.headshot-link {
  display: inline-block;
  width: 150px;
  padding: 2px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #fff;
  line-height: 0;
  border-radius: 75px;
  transition: background-color 0.5s ease-out;
}

.headshot-link:hover {
  background-color: purple;
  transition: none;
}

.about-slider-wrapper {
  margin-top: 5rem;
}

.about-slider {
  width: 50% !important;
  text-align: center;
  font-size: 30px;
}

.number-slider-card {
  background-color: white;
  margin-right: 5px;
  margin-left: 5px;
  color: black;
}

.number-slider-card:not(.slick-center) {
  opacity: 0.8;
  transform: scale(0.9);
}

.slick-center {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  color: purple;
  opacity: 1;
  transform: scale(1);
}

.slider {
  margin-top: 90px;
}
