#page-contact {
  height: 50vh !important;
  background-color: rgb(18, 19, 20);
  display: flex;
  flex-direction: column;
  flex: 1;
}

#messenger-contact {
  width: 30px;
}

#yep {
  font-size: 7vmax;
  margin-top: 12px;
  flex: 1;
}

.arrow-color {
  color: purple;
}

.contact-icon {
  color: #0084ff;
}

.arrow-color:hover, .contact-icon:hover {
  color: white;
}

.bottom-page {
  align-items: flex-end;
  margin-bottom: 8px;
  width: 100%;
  color: purple;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.bottom-page a {
  flex: 1;
}

.img-circle {
  border-radius: 50%;
  margin-bottom: 5px;
  align-self: center;
  width: 8vmax;
  height: 8vmax;
}
