.circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.title {
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}

html { 
  /*background-color: black;*/
}

body {
  font: normal 62.5% "Roboto", 'adobe-garamond-pro', Georgia, "Times New Roman", serif;
  font-weight: 400;
  color: #111;
  min-height: 100%;
}

.page-header {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: url(../images/me5-min.jpg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  overflow: hidden;
}

.page-header h1 {
  font-size: 9vw;
  height: 15vw;
  position: absolute;
  top: 50%;
  margin-top: -8vw;
  width: 100%;
  text-align: center;
}

@media (min-width: 1200px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 300px;
    margin-left: 12vw;
    margin-top: -10vw;
    position: absolute;
  }
}

@media (max-width: 1200px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 220px;
    margin-left: 12vw;
    margin-top: -10vw;
    position: absolute;
  }
}

@media (max-width: 900px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 175px;
    margin-left: 12vw;
    margin-top: -8vw;
    position: absolute;
  }
}

@media (max-width: 750px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 150px;
    margin-left: 10vw;
    margin-top: -6vw;
    position: absolute;
  }
}

@media (max-width: 550px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 140px;
    margin-left: 8vw;
    margin-top: -6vw;
    position: absolute;
  }
}

@media (max-width: 380px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 120px;
    margin-left: 8vw;
    margin-top: -7vw;
    position: absolute;
  }
}

#thats-me img {
  width: 80%;
  display: block;
  margin: auto;
}