@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  font-weight: 400;
  color: white;
  min-height: 100%;
  font-family: "Lato", "Source Sans Pro", "Open Sans", "Optima", "Roboto";
}

body::-webkit-scrollbar { 
  display: none; 
}

.full-screen {
  height: 100vh;
  width: 100vw;
  position: relative;
  text-align: center;
  overflow: hidden;
  background-color: gray;
}

.toast {
  background-color: purple !important;
  margin-top: -15px;
}

.your-class, .slider-for {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  text-align: center;
  font-size: 30px;
}

.slider-for {
  top: 30% !important;
}

.slider {
  background-color: white;
  margin-right: 5px;
  margin-left: 5px;
  color: black;
}

@media (min-width: 1200px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 300px;
    margin-left: 12vw;
    margin-top: -10vw;
    position: absolute;
  }
}

@media (max-width: 1200px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 220px;
    margin-left: 12vw;
    margin-top: -10vw;
    position: absolute;
  }
}

@media (max-width: 900px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 175px;
    margin-left: 12vw;
    margin-top: -8vw;
    position: absolute;
  }
}

@media (max-width: 750px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 150px;
    margin-left: 10vw;
    margin-top: -6vw;
    position: absolute;
  }
}

@media (max-width: 550px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 140px;
    margin-left: 8vw;
    margin-top: -6vw;
    position: absolute;
  }
}

@media (max-width: 380px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 120px;
    margin-left: 8vw;
    margin-top: -7vw;
    position: absolute;
  }
}

#thats-me img {
  width: 80%;
  display: block;
  margin: auto;
}

.hover-menu {
  width: 50px;
  height: 100vh;
  position: absolute;
  left: 0%;
  z-index: 10;
}

.next-arrow {
  position: absolute;
  font-size: 50px;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3%;
  color: purple;
}

.next-arrow:hover {
  color: white;
}

.go-to-contact {
  position: absolute;
  font-size: 50px;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3%;
  color: purple;
}

.go-to-contact:hover {
  color: white;
}

