.circle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.title {
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}

html { 
  /*background-color: black;*/
}

body {
  font: normal 62.5% "Roboto", 'adobe-garamond-pro', Georgia, "Times New Roman", serif;
  font-weight: 400;
  color: #111;
  min-height: 100%;
}

.page-header {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: url(../images/me5-min.jpg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  overflow: hidden;
}

.page-header h1 {
  font-size: 9vw;
  height: 15vw;
  position: absolute;
  top: 50%;
  margin-top: -8vw;
  width: 100%;
  text-align: center;
}

@media (min-width: 1200px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 300px;
    margin-left: 12vw;
    margin-top: -10vw;
    position: absolute;
  }
}

@media (max-width: 1200px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 220px;
    margin-left: 12vw;
    margin-top: -10vw;
    position: absolute;
  }
}

@media (max-width: 900px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 175px;
    margin-left: 12vw;
    margin-top: -8vw;
    position: absolute;
  }
}

@media (max-width: 750px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 150px;
    margin-left: 10vw;
    margin-top: -6vw;
    position: absolute;
  }
}

@media (max-width: 550px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 140px;
    margin-left: 8vw;
    margin-top: -6vw;
    position: absolute;
  }
}

@media (max-width: 380px) {
  #thats-me {
    left: 50%;
    top: 40%;
    width: 120px;
    margin-left: 8vw;
    margin-top: -7vw;
    position: absolute;
  }
}

#thats-me img {
  width: 80%;
  display: block;
  margin: auto;
}

#logo-container {
  height: 80px;
  width: 80px;
  background-color: transparent;
  position: absolute;
  top: 0%;
  z-index: 1000;
  display: flex;
  align-items: center;
}

#logo-container img {
  height: 100%;
  display: block;
  padding-right: 5px;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: black; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 80px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.sidenav a.active {
  color: purple;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*/