/* PHONE SPECIFIC STYLES */

@media handheld and (max-width: 800px) and (max-height: 450px) {
  .home-info { flex-direction: row; }
  .who-am-i { flex-direction: column; }
  #yep { margin-top: 8px !important; }
  .headshot-link { width: 135px !important; }
}

@media all and (max-width: 800px) and (min-height: 500px) {
  .home-info { flex-direction: column; align-items: center; }
  .who-am-i { flex-direction: row; padding-top: 15px; }
  .home-icon { padding-bottom: 0; padding-right: 20px;}
  .img-circle { padding-top: 2px; width: 11vmax; height: 11vmax; }
  #yep { margin-top: 15px !important; }
}

@media all and (max-width: 890px) and (min-height: 500px) {
  .paragraph { font-size: 18px !important; line-height: 1.55 !important; }
  .para-small { font-size: 17px !important; line-height: 1.45 !important; }
}

@media all and (max-width: 770px) and (min-height: 500px) {
  .paragraph { font-size: 16px !important; line-height: 1.5 !important; }
  .para-small { font-size: 14px !important; line-height: 1.4 !important; }
}

@media all and (max-width: 700px) and (min-height: 500px) {
  .headshot-link { width: 12em !important; }
}

@media all and (max-width: 630px) {
  .headshot-link { width: 8em !important; }
  .slider-content { flex-direction: column !important; }
  .card .card-content { padding: 8px !important; }
}

@media all and (max-width: 600px) {
  .work-para { font-size: 16px !important; line-height: 1.45 !important; }
}

@media all and (max-width: 515px) {
  .headshot-link { width: 6em !important; }
  .paragraph { font-size: 14px !important; line-height: 1.4 !important; }
  .slider h4 { font-size: 20px !important; }
  .lb-prev, .lb-next { opacity: 1 !important; }
}

@media all and (max-width: 420px) {
  .headshot-link { width: 5.5em !important; }
  .paragraph { font-size: 14px !important; line-height: 1.35 !important; }
  .para-small { font-size: 14px !important; line-height: 1.35 !important; }
  .slider h4 { font-size: 18px !important; }
}

@media all and (min-width: 800px) and (max-width: 1200px) {
  .home-icon { padding-bottom: 70px; }
  .who-am-i { padding-top: 30px;}
}

@media all and (min-width: 1201px) {
  .who-am-i { padding-top: 70px; }
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 21px;}
  .next-arrow {font-size: 23px !important;}
  .go-to-contact {font-size: 23px !important;}
  #home-container { padding-top: 2.5vh; }
  #home-container h1 { font-size: 5.5vmax; }
  .home-icon { width: 70px !important;}
  .who-am-i { padding-top: 2px; }
  #yep { font-size: 6vmax !important; margin-top: 8px !important; }
  .img-circle { display: none; }
  .headshot-link { width: 135px !important; }
  .bottom-page { margin-top: 35px !important; }
  .slider { margin-top: 25px !important; }
  #page-about .container { width: 75% !important; height: 75% !important; }
  .about-slider-wrapper { margin-top: 0.7rem !important; }
  .headshot-link { width: 5.5em !important; }
  .paragraph { font-size: 14px !important; line-height: 1.35 !important; }
  .para-small { font-size: 13px !important; line-height: 1.35 !important; }
  .slider h4 { font-size: 18px !important; }
  .slider-content { flex-direction: column !important; }
  .card .card-content { padding: 8px !important; }
  .slider-for { top: 50% !important; }
  .slick-dots { display: none !important; }
  .about-me-header { display: none !important; }
  .lb-prev, .lb-next { opacity: 1 !important; }
}
