#page-projects {
  background: url(../images/background2.jpg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


#page-projects .container {
  height: 100%;
}

.slick-center {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  color: purple;
  opacity: 1;
  transform: scale(1);
}

.card.horizontal .card-image {
  max-width: 60% !important;
}

.card-image a img {
  -webkit-transition: 0.2s all;
}

.card-image a img:hover {
  -webkit-filter: opacity(85%);
}

.height-100 {
  max-height: 100% !important;
}

.more-info-button {
  position: absolute;
  top: 3%;
  right: 3%;
}

.info-cards {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media all and (max-width: 600px) {
  .project-slide:not(.slick-active) {
    opacity: 0.8;
    transform: scale(0.9);
  }
  #page-projects .container {
    width: 100%;
  }
}


