#page-work {
  background: url(../images/background2.jpg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#page-work .container {
  height: 100%;
  text-align: center;
}

.main-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.content-right {
  border-right: 2px solid white;
}

.card-panel {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.card-panel p {
  line-height: 1.35;
}
