#page-work {
  background: url(../images/background2.jpg) no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#page-work .container {
  height: 100%;
  text-align: center;
}

.main-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.content-right {
  border-right: 2px solid white;
}
